/* BODY */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #d8f3f1; /* verde agua */
  color: #2f3e3a;
}

/* HEADER */
.header {
  background-color: #40c9c6; /* turquesa */
  padding: 16px 40px;
}

.nav {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff; /* texto blanco para contrastar con turquesa */
}

.cta {
  background: transparent;
  border: 1px solid #fff; /* borde blanco */
  padding: 8px 14px;
  text-decoration: none;
  color: #fff;
  border-rad
